<header class="header">
    <div class="header-top">
        <div class="container">
            <a href="#" class="logo">
                <div class="logo-icon">
                    <i class="fas fa-curtain"></i>
                </div>
                <div class="logo-text">
                    <h1>Mohina Pardalari</h1>
                    <p>Zebo va Zamonaviy Pardalar</p>
                </div>
            </a>
            
            <div class="header-contact">
                <div class="contact-item">
                    <i class="fas fa-phone"></i>
                    <a href="tel:+9989504577730">
                        +998 95 045 77 30</a>
                </div>
               <div class="contact-item">
                 <a 
               href="https://yandex.com/maps/?text=Olmaliq+Rozabella+Parda+Dokon"
               target="_blank"
               style="font-size:15px; color:#ffffff; text-decoration:none;">
               <i class="fas fa-map-marker-alt"></i> Olmaliq shaxri
               </a>
                   
                <div class="social-links">
                    <a href="https://t.me/moxina_designn" class="social-link" target="_blank">
                        <i class="fab fa-telegram"></i>
                    </a>
                    <a href="https://instagram.com/moxina.pardalari" class="social-link" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://wa.me/9989504577730" class="social-link" target="_blank">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <nav class="nav">
        <div class="container">
            <ul class="nav-links">
                <li><a href="#" class="active"><i class="fas fa-home"></i> Bosh</a></li>
                <li><a href="#categories"><i class="fas fa-th-large"></i> Kategoriya</a></li>
                <li><a href="#products"><i class="fas fa-store"></i> Pardalar</a></li>
                <li><a href="#contact"><i class="fas fa-phone-alt"></i> Bog'lanish</a></li>
            </ul>
            
            <div class="search-box">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Parda qidirish..." id="searchInput">
            </div>
        </div>
    </nav>
</header>
